html, body {
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #242424;
    font-size: 1.2rem;
}

:root {
    color-scheme: light dark;
    --component-bg-color-dark: #212529;
    --component-text-color-dark: rgb(149, 146, 146);
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.container {
    color: var(--component-text-color-dark);
    border: solid rgba(43, 46, 97, 0.78) 1px;
    width: 100%;
    padding: 1rem;
    margin: 2rem;
    box-shadow: rgba(12, 13, 51, 0.22) 6px 6px 2px;
    background: var(--component-bg-color-dark);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button.btn {
    color: var(--component-text-color-dark);
  border-radius: 8px;
  border: 1px solid transparent;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button.btn:hover {
  border-color: #646cff;
}

button.btn:focus,
button.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
